In [26]:
#libraries for the project
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
import math
#libraries for the project
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
import math

In [22]:
#location of Data
import os
os.getcwd()

'C:\\Users\\Deeho\\OneDrive\\Desktop\\Price OPtimization\\Notebook'

In [25]:
#Data reading
file_path = "/users/Deeho/OneDrive/desktop/Price OPtimization/Jewelry_Dataset.csv"
df = pd.read_csv(file_path,header=None )
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,2018-12-01 11:40:29 UTC,1924719191579951782,1842195256808833386,1,1.806829e+18,jewelry.earring,0.0,561.51,1.515916e+18,NaN,red,gold,diamond
1,2018-12-01 17:38:31 UTC,1924899396621697920,1806829193678291446,1,1.806829e+18,NaN,NaN,212.14,1.515916e+18,NaN,yellow,gold,NaN
2,2018-12-02 13:53:42 UTC,1925511016616034733,1842214461889315556,1,1.806829e+18,jewelry.pendant,1.0,54.66,1.515916e+18,f,white,gold,sapphire
3,2018-12-02 17:44:02 UTC,1925626951238681511,1835566849434059453,1,1.806829e+18,jewelry.pendant,0.0,88.90,1.515916e+18,f,red,gold,diamond
4,2018-12-02 21:30:19 UTC,1925740842841014667,1873936840742928865,1,1.806829e+18,jewelry.necklace,0.0,417.67,1.515916e+18,NaN,red,gold,amethyst